
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>Merhaba @ViewBag.Name</p>

    @if (ViewBag.IsRedPill)
            {
                <p>Kirmizi hapi tercih ettiniz ...</p>
    }
    else
    {
        <p>Mavi hapi tercih ettiniz ...</p>
    }

    <ul>
        @foreach (var item in ViewBag.Products)
        {
            <li>
                @item
            </li>
        }
    </ul>
    <a href="/Home/useModel">Model ornegi</a>
</body>
</html>
