@model IEnumerable<Drink>

@{
    Layout = "_Layout";
}

    <ul>
        @foreach (var drink in Model)
        {
            <li>
                @drink.Name : @drink.Price TL
            </li>
        }
    </ul>
