@model User

@{
    Layout = "_Layout";
}

    <form method="post" action="/Home/UserRegister">
        <p>
            <input type="text" placeholder="Ad" id="name" name="name" value="" />
        </p>
        <p>
            <input type="text" placeholder="Soyad" id="surname" name="surname" value="" />
        </p>
        <p>
            <input type="email" placeholder="Eposta" id="email" name="email" value="" />
        </p>
        <button type="submit">Ekle</button>
    </form>
