@model User

@{
    Layout = "_Layout";
}

    <form method="post" action="/Home/UserRegister">
        <p>
            <input placeholder="Ad" asp-for="Name" value="" />
            <span asp-validation-for="Name"></span>
        </p>
        <p>
            <input placeholder="Soyad" asp-for="Surname" value="" />
            <span asp-validation-for="Surname"></span>
        </p>
        <p>
            <input placeholder="Eposta" asp-for="Email" value="" />
            <span asp-validation-for="Email"></span>
        </p>
        <button type="submit">Ekle</button>
    </form>
