@model PostAndCommentsViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}

<h1>@Model.Post.Title</h1>
<p>
    @Model.Post.Content
</p>
<hr />
<h3>Yorumlar</h3>
<ul>
    @foreach (var comment in Model.Comments)
    {
        <li>
            @*<h4>@comment.Name</h4>
            <p>@comment.Context</p>*@
            <partial name="_Comment" model="comment"/>
        </li>
    }
</ul>

<form asp-action="Index" asp-controller="Post">
    <input placeholder="Adiniz" name="Name" />
    <input placeholder="Yorumunuz" name="Context" />
    <button type="submit">Gönder</button>
</form>